<ul>
  <% @kittens.each do |kitten| %>
  <div>
   
    <h3><%= link_to(kitten.name, "/kittens/#{kitten.id}") %></h3>
    <li>
      Age : <%= kitten.age %> months
    </li>
    <li>
      Cuteness : <%= kitten.cuteness %>
    </li>
    <li>
      Softness : <%= kitten.softness %>
    </li>
    <%= link_to "Destroy", kitten_path(kitten), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
  </div>
  <% end %>
</ul>